<h1>Showing selected article</h1>

<p>
  Title: <%= @article.title %>
</p>

<% if @article.user %>
  <ul>
    <li>Created by:</li>
    <li><%= link_to gravatar_for(@article.user), user_path(@article.user) %></li>
    <li><%= link_to @article.user.username, user_path(@article.user) %></li>
    <li><%= pluralize(@article.user.articles.count, "article") %></li>
  </ul>
<% end %>

<p>
  Description: <%= @article.description %>
</p>

<%= link_to "Edit this article", edit_article_path(@article) %>
<br/>

<%= link_to "Back to aricles listing", articles_path %>